/* General */

body {
  /* width: 100vw; */
}

:is(h1, h2, h3, h4, h5, h6) {
  position: relative;
}

:is(h1, h2, h3, h4, h5, h6) > a[id] {
  padding-left: calc(var(--pico-spacing) * 0.5);
  font-weight: 400;
  text-decoration: none;
  opacity: 0;
  transition: color var(--pico-transition) opacity var(--pico-transition);
}

:is(h1, h2, h3, h4, h5, h6):hover > a[id] {
  opacity: 0.25;
}

:is(a).active {
  color: var(--pico-primary-hover);
}

/* Helpers */

.has-text-centered {
  text-align: center;
}

.is-hidden {
  display: none;
}

/* Auth Pages */

@media (min-width: 768px) {
  .auth-form-container {
    max-width: 600px;
    margin: auto;
  }
}

/* Guide Page */
.guide-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#guide-menu {
  width: 100%;
}

#guide-content {
  width: 100%;
  margin-bottom: 3rem;
}

.guide-menu-toggle {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .guide-layout {
    flex-direction: row;
  }

  #guide-menu {
    width: 250px;
  }

  #contents-menu {
    width: 250px;
  }

  #guide-content {
    width: calc(100% - 500px);
  }

  #guide-menu nav,
  #contents-menu nav {
    position: sticky;
    top: 2rem;
  }
}

@media (min-width: 1024px) {
  :is(h1, h2, h3, h4, h5, h6) > a[id] {
    position: absolute;
    left: 0;
    padding-right: calc(var(--pico-spacing) * 0.5);
    transform: translate(-100%);
  }
}

/* Components */

.flash-messages {
  width: 500px;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
}

.flash.hide {
  animation: slideaway 300ms;
  display: none;
}

@keyframes slideaway {
  from {
    display: block;
  }
  to {
    transform: translateX(500px);
    opacity: 0;
  }
}

pre {
  position: relative;
  overflow: visible;
}

[data-tooltip]:is(span) {
  border: none;
  cursor: pointer;
}

.copy-code-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.copy-code-btn:hover {
  color: var(--pico-primary-hover);
}

/* Main Menu */
main > aside nav ul {
  border-left: var(--pico-border-width) solid var(--pico-muted-border-color);
}

main > aside nav ul:first-of-type {
  margin: 0;
  padding: 0;
}

main > aside {
  --pico-font-size: 16px;
  font-size: var(--pico-font-size);
}

main > aside nav details[open] > summary {
  margin-bottom: calc(var(--pico-spacing) * 0.5);
}

main > aside nav details summary {
  font-weight: 600;
  line-height: var(--pico-line-height);
}

main > aside nav summary {
  font-weight: 600;
  line-height: var(--pico-line-height);
  margin-bottom: calc(var(--pico-spacing) * 0.5);
}

nav ol:last-of-type,
nav ul:last-of-type {
  margin-right: calc(var(--pico-nav-element-spacing-horizontal) * -1);
}

main > aside nav ul li a[aria-current] {
  border-color: var(--pico-primary);
  color: var(--pico-primary-hover);
  font-weight: 600;
}

main > aside nav ul li a[aria-current]:hover {
  text-decoration: none;
}

main > aside nav ul li a:not([aria-current]):hover {
  border-color: var(--pico-secondary-underline);
}

main > aside nav ul li {
  margin: 0;
  padding: calc(var(--pico-nav-element-spacing-vertical) * 0.25) 0;
}

nav li :where(a, [role="link"]):not(:hover) {
  text-decoration: none;
}

main > aside nav ul li a {
  margin: 0;
  margin-left: calc(var(--pico-border-width) * -0.5);
  padding: 0;
  padding-left: calc(var(--pico-nav-element-spacing-horizontal) * 1.5);
  border-left: var(--pico-border-width) solid transparent;
  border-radius: 0;
  font-weight: 400;
}

:where(nav li):before {
  float: left;
  content: "\200b";
}
