{{define "title"}}
{{.Title}}
{{end}}

{{define "content"}}
<main class="container guide-layout">
    <aside id="guide-menu">
        <nav>
            {{range $i, $chapter := .Chapters}}
            <details open>
                <summary>{{ $chapter.Title }}</summary>
                <ul>
                    {{range $j, $part := $chapter.Parts}}
                        {{if $part.IsActive}}
                            <li><a href="{{$part.Path}}" aria-current="page" class="secondary">{{$part.Title}}</a></li>
                        {{else}}
                            <li><a href="{{$part.Path}}" role="link" class="secondary">{{$part.Title}}</a></li>
                        {{end}}
                    {{end}}
                </ul>
            </details>
            {{end}}
        </nav>
    </aside>

    <div id="guide-content">
        <small class="pico-color-pumpkin-300">{{.ChapterTitle}}</small>

        <h1>{{.PartTitle}}</h1>

        <aside class="is-hidden-widescreen-only">
            <nav>
                <summary>Content</summary>
                <ul>
                    {{range $i, $heading := .TableOfContents}}
                        <li><a href="#{{ $heading.ID }}" role="link" class="secondary">{{ $heading.Title }}</a></li>
                    {{end}}
                </ul>
            </nav>
        </aside>

        {{.Content}}

        <div class="next-prev-buttons">
            {{if .Prev.Title}}
                <a href="{{.Prev.Path}}" class="secondary">
                    <i class="fa-solid fa-chevron-left"></i>
                    {{.Prev.Title}}
                </a>
            {{else}}
                <span></span>
            {{end}}
            {{if .Next.Title}}
                <a href="{{.Next.Path}}" class="secondary">
                    {{.Next.Title}}
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            {{else}}
                <span></span>
            {{end}}
        </div>
    </div>

    {{if .TableOfContents}}
        <aside id="contents-menu">
            <nav>
                <summary>Content</summary>
                <ul>
                    {{range $i, $heading := .TableOfContents}}
                        <li><a href="#{{ $heading.ID }}" role="link" class="secondary">{{ $heading.Title }}</a></li>
                    {{end}}
                </ul>
            </nav>
        </aside>
    {{end}}
</main>
{{end}}
