{{define "title"}}
{{.Title}}
{{end}}

{{define "content"}}
<main class="container guide-layout">
    <aside id="guide-menu">
        <nav>
            {{range $i, $chapter := .Chapters}}
            <details open>
                <summary>{{ $chapter.Title }}</summary>
                <ul>
                    {{range $j, $part := $chapter.Parts}}
                    <li><a href="{{$part.Path}}" class="secondary">{{$part.Title}}</a></li>
                    {{end}}
                </ul>
            </details>
            <hr />
            {{end}}
        </nav>
    </aside>

    <div id="guide-content">
        {{.Content}}
    </div>
</main>
{{end}}
