{{define "title"}}
ChiliMyCoffee | Home
{{end}}

{{define "content"}}
<main class="container">
    {{with .FlashMessages}}
    <div class="flash-messages">
        {{ range . }}
        <article class="flash pico-color-jade-200"> {{.}} </article>
        {{end}}
    </div>
    {{end}}

    <h3>Latest Posts</h3>

    <article>
        <h5>Build Asteroids In C With Raylib</h5>
        <p>
            <small>TODO</small>
        </p>
        <a href="/guides/build-asteroids-in-c-with-raylib">Read more</a>
    </article>
</main>
{{end}}
