{{define "title"}}
chilimycoffee | home
{{end}}

{{define "content"}}
<main class="container">
    {{with .FlashMessages}}
    <div class="flash-messages">
        {{ range . }}
        <article class="flash pico-color-jade-200"> {{.}} </article>
        {{end}}
    </div>
    {{end}}

    <hgroup>
        <h2>Curious how things work under the hood?</h2>
        <p>Let us build them together from scratch</p>
    </hgroup>

    <p>
        chilimycoffee is a collection of guides, notes, tutorials on how to make things by 
        yourself. Learning on the way, how some complex concepts works under the hood.
    </p>
    <p>
        You will find here a great variety of topics ranging from guides to make video games
        from scratch to how to build cool electronics projects.
        I will go step by step building each project and explaning some of the concepts.
    </p>
</main>
{{end}}
